# Copy this file to .env for local development.

PROJECT_DB_PREFIX=customers_manager_system
DATABASE_URL=postgres://postgres:postgres@localhost:5433/customers_manager_system_development
FAKTORY_URL=tcp://localhost:7419

SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=ChangeMe123!
